@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050510;
  color: white;
  overflow: hidden; /* Скрываем скроллбар самого окна */
}

/* Custom Scrollbar for lists */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0a0a15;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00f3ff;
}